
body {
   position: relative;
   left: 40%;
   background: #ecf3ff;
}


div {
   border: black;

   font-size: 20px;
   color: red;
}

form {
   width: 30rem;
   display: table;
   background-color: #87b6c0;
   border-radius: 5px;
   align-content: center;
   margin-bottom: 2rem;

}

p {
   display: table-row;
   align-content: space-evenly;
}

label {
   display: table-cell;
   margin-left: 2rem;
   padding-left: 10px;
   font-size: 1.15rem;
}

input {
   display: table-cell;
}

select, option {
   width: 12rem;
   margin: 1rem 1.5rem 1rem 2rem;
   font-size: 1.1rem;
   border-radius: 0.5rem;

}

.submit-button {
   width: 10rem;
   position: relative;
   left: 80%;
   align-content: space-between;
   display: table-row;
   background-color: lavender;
   font-size: 1.15rem;
   margin-bottom: 2rem;
   border-radius: 3px;
}

table {
   border-radius: 5px;
   width: 30rem;
   border: 2px solid;
   color: black;
}

th {
   border: 1px solid;
}

tr {
   border: 1px solid;
}

td {
   border: 1px solid;
   text-align: center;
   color: black;
}