body {
   background-image: url("static/image/SEB_logo.png");
   position: relative;
   left: 40%;
}


form {
   display: table;
   background-color: #def3ff;
   border-radius: 5px;

}

p {
   display: table-row;
}

label {
   display: table-cell;
   margin-left: 2rem;
   padding-left: 10px;
   font-size: 1.15rem;
}

input {
   display: table-cell;
}

select, option {
   width: 12rem;
   margin: 1rem 1.5rem 1rem 2rem;
   font-size: 1.15rem;

}

.submit-button {
   width: 10rem;
   position: relative;
   left: 52%;
   display: table-row;
   background-color: lavender;
   font-size: 1.15rem;
   margin-bottom: 2rem;
}

