body {
   background-color: lightblue;

}

div {
   border: red;

   font-size: 20px;
   color: red;
}

body {
   background-image: url("static/image/SEB_logo.png");
   position: relative;
   left: 35%;
}


form {
   width: 30rem;
   display: table;
   background-color: #def3ff;
   border-radius: 5px;
   align-content: center;

}

p {
   display: table-row;
   align-content: space-evenly;
}

label {
   display: table-cell;
   margin-left: 2rem;
   padding-left: 10px;
   font-size: 1.15rem;
}

input {
   display: table-cell;
}

select, option {
   width: 12rem;
   margin: 1rem 1.5rem 1rem 2rem;
   font-size: 1.1rem;
   border-radius: 0.5rem;

}

.submit-button {
   width: 10rem;
   position: relative;
   left: 80%;
   align-content: space-between;
   display: table-row;
   background-color: lavender;
   font-size: 1.15rem;
   margin-bottom: 2rem;
   border-radius: 3px;
}

table {
   border-radius: 5px;
   width: 30rem;
   border: 2px solid;
   color : red;
}
th {
   border :1px solid;
}

tr {
   border :1px solid;
}

td {
   border :1px solid;
   text-align: center;
}